.block
  border: 1px solid white;
  z-index: 2;
  position: absolute;
  width: auto;
  width: 50px !important;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  left: 1500px;
  transition: all 1s ease-out;
  color: white;

  &:hover
  	background-color: #1A1A1A;

  &.selected
    color: blue;

  &.block--dissolved
    border: none;
    height: 20px;
    top: -20px;

    &:hover
      background-color: white;
      cursor: default;

    .block__content
      display: none;
    .points
      display: block;
      line-height: 10px;
      top: 0px;
      opacity: 0;

    .points--invalid
      color: red;

  &.block--game-over
    top: 1000px !important;

.points
  position: absolute;
  font-size: 10px;
  line-height: 0px;
  overflow: hidden;
  opacity: 1;
  top: 10px;
  transition: opacity 1s ease, top 1s ease;

