.GameView
  position: relative;
  display: inline-block;
  width: 40%;
  height: 100%;
  padding-top: 10px;
  overflow: hidden;

.game-view--bottom
  position: absolute;
  height: 330px;
  width: 100%;
  background-color: #354551;
  bottom: 0px;
  z-index: -1;


