.GameView
  position: relative;
  display: inline-block;
  width: 40%;
  height: 100%;
  padding-top: 10px;
  overflow: hidden;

.game-view--bottom
  position: absolute;
  height: 330px;
  width: 100%;
  background-color: rgba(53, 69, 81, .9);
  bottom: -400px;
  z-index: 1;
  transition: bottom 1s ease-out;

  &.game-view--bottom--up
    bottom: 0px;


